.popup {
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;

    .popupBody {
        position: relative;
        width: 500px;
        height: 300px;
        background-color: white;
        border-radius: 20px;
        opacity: 100%;
        padding: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;

        .country {
            width: 100%;
            font-weight: 700;
            font-size: 30px;
            padding: 10px;
            display: flex;
            text-align: start;
        }

        .stats {
            width: 90%;
            font-size: 20px;
            padding: 10px;
            display: flex;
            justify-content: space-between;
            color: #666;
            align-items: center;

            img {
                margin-right: 10px;
            }
        }

        button {
            margin-top: 10px;
            background-color: #2196F3;
            width: 170px;
            height: 50px;
            border-radius: 20px;
            border: none;
            font-weight: 700;
            color: white;
            font-size: 24px;

            &:hover {
                background-color: #1b75be;
            }
        }
    }
}